<h2>Welcome to RubyRoots</h2>

<h3>Home of the Garden Route Ruby User Group</h3>

Join us @ 
<a href='https://groups.google.com/forum/?fromgroups#!forum/rubyroots'>rubyroots google group</a>
<br />
Jump right in @
<a href='https://github.com/QuentinLangeveldt/rubyroots'>rubyroots github repo</a>